* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    /* prevent callout to copy image, etc when tap to hold */
    -webkit-touch-callout: none;                
    /* prevent webkit from resizing text to fit */
    -webkit-text-size-adjust: none;             
    /* prevent copy paste, to allow, change 'none' to 'text' */
    -webkit-user-select: none;    
                  
    //background  : url('../img/cloth_alike.png');
    background  : url('../img/woodenBg.jpg');
    font-family : 'HelveticaNeue-Light', 'HelveticaNeue', 
                  Helvetica, Arial, sans-serif;
    font-size   : 12px;
    height      : 100%;
    margin      : 0px;
    padding     : 0px;
    width       : 100%;
}

/* Portrait layout (default) */
.app {
    height      : 100%;                   /* text area height */
    width       : 100%;                   /* text area width */
    text-align  : center;
} 

#appCenterDiv
{
    position           : relative;
    top                : 50%;
    left               : 50%;
    width              : 26em;
    height             : 16em;
    margin-top         : -9em; 
    margin-left        : -13em;   
    background 		   : #fff;
    border-radius      : 4px;
    overflow           : visible;
    -webkit-box-shadow : 0 1px 4px rgba(0, 0, 0, 0.3), 
                         0 0 60px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow : 0 1px 4px rgba(0, 0, 0, 0.3), 
                            0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow : 0 1px 4px rgba(0, 0, 0, 0.3), 
                         0 0 40px rgba(0, 0, 0, 0.1) inset;
}

#appCenterDiv:before,
#appCenterDiv:after 
{
    content            : "";
     position 		   : absolute; 
     z-index 		   : -2;
    bottom 			   : 15px;
    left 			   : 10px;
    width 			   : 50%;
    height	      	   : 20%;
    max-width 		   : 300px;
    -webkit-box-shadow : 0 15px 10px rgba(0, 0, 0, 0.7);   
       -moz-box-shadow : 0 15px 10px rgba(0, 0, 0, 0.7);
            box-shadow : 0 15px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform  : rotate(-3deg);    
       -moz-transform  : rotate(-3deg);   
        -ms-transform  : rotate(-3deg);   
         -o-transform  : rotate(-3deg);
            transform  : rotate(-3deg);
}

#appCenterDiv:after 
{
    right              : 10px; 
    left               : auto;
    -webkit-transform  : rotate(3deg);   
       -moz-transform  : rotate(3deg);  
        -ms-transform  : rotate(3deg);  
         -o-transform  : rotate(3deg);
            transform  : rotate(3deg);
}



/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) 
{
 .app {
        height     : 100%;                   /* text area height */
        width      : 100%;                   /* text area width */
        text-align : center;
      }
}

h1 {
    font-size                : 38px;
    font-weight              : normal;
    margin                   : 0px;
    padding                  : 0px;
    text-align               : center;
    font-weight              : bold;
    margin-top               : 10px;
    padding-top              : 10px;
    background-color         : #666666;
    -webkit-background-clip  : text;
    -moz-background-clip     : text;
    background-clip          : text;
    color                    : transparent;
    text-shadow              : rgba(255,255,255,0.5) 0px 3px 3px;
}

#processInfo
{
    font-size                : 16px;
    font-weight              : normal;
    margin                   : 0px;
    padding                  : 0px;
    text-align               : center;
    font-weight              : bold;
    margin-top               : 10px;
    width                    : 100%;
    background-color         : #666666;
    -webkit-background-clip  : text;
    -moz-background-clip     : text;
    background-clip          : text;
    color                    : transparent;
    text-shadow              : rgba(255,255,255,0.5) 0px 3px 3px;
}


p {
    color                    : #666666;
    font-size                : 14px;
    font-weight              : normal;
    margin                   : 0px;
    padding                  : 0px;
    text-align               : center;
    font-weight              : normal;
    width                    : 100%;
    text-shadow              : rgba(255,255,255,0.5) 0px 3px 3px;
    font-family              : "helvetica neue", helvetica, arial, sans-serif;
    float                    : left;
    margin-top               : 10px;
}

.controlGroup
{
    margin  : 18px auto;
    width   : 28em;
    height  : auto;
}

.btn_clean_red
{
    background            : #c63929;
    background            : -moz-linear-gradient(top, #ee432e 0%, 
                                                      #c63929 50%, 
                                                      #b51700 50%, 
                                                      #891100 100%);
    background            : -webkit-gradient(linear, 0 0, 0 100%, 
                            color-stop(0, #ee432e), 
                            color-stop(0.5, #c63929), 
                            color-stop(0.5, #b51700), 
                            color-stop(1, #891100));
    border                : 1px solid #951100;
    -moz-border-radius    : 5px;
    -webkit-border-radius : 5px;
    border-radius         : 5px;
    -moz-box-shadow       : inset 0px 0px 0px 1px 
                            rgba(255, 115, 100, 0.4), 0 1px 3px #333;
    -webkit-box-shadow    : inset 0px 0px 0px 1px 
                            rgba(255, 115, 100, 0.4), 0 1px 3px #333;
    box-shadow            : inset 0px 0px 0px 1px 
                            rgba(255, 115, 100, 0.4), 0 1px 3px #333;
    color                 : #fff;
    font-family           : "helvetica neue", helvetica, arial, sans-serif;
    font-size             : 20px;
    font-weight           : bold;
    line-height           : 1;
    padding               : 12px 0 14px 0;
    text-align            : center;
    text-shadow           : 0px -1px 1px rgba(0, 0, 0, .8);
    width                 : 138px;
    float                 : left;
}
    
.btn_clean_blue 
{
  background: #2463de;
  background: -moz-linear-gradient(top, #759ae9 0%, 
                                        #376fe0 50%, 
                                        #1a5ad9 50%, 
                                        #2463de 100%);
                                        
  background: -webkit-gradient(linear, 0 0, 0 100%, 
                               color-stop(0, #759ae9), 
                               color-stop(0.5, #376fe0), 
                               color-stop(0.5, #1a5ad9), 
                               color-stop(1, #2463de));
                               
  border-top             : 1px solid #1f58cc;
  border-right           : 1px solid #1b4db3;
  border-bottom          : 1px solid #174299;
  border-left            : 1px solid #1b4db3;
  -moz-border-radius     : 4px;
  -webkit-border-radius  : 4px;
  border-radius          : 4px;
  -moz-box-shadow        : inset 0 0 2px 0 
                           rgba(57, 140, 255, 0.8), 0 1px 3px #333;
  -webkit-box-shadow     : inset 0 0 2px 0 
                           rgba(57, 140, 255, 0.8), 0 1px 3px #333;
  box-shadow             : inset 0 0 2px 0 
                           rgba(57, 140, 255, 0.8), 0 1px 3px #333;
  color                  : #fff; 
  font-family            : "helvetica neue", helvetica, arial, sans-serif;
  font-size              : 20px;
  font-weight            : bold;
  line-height            : 1;
  padding                : 12px 0 14px 0;
  text-align             : center;
  text-shadow            : 0px -1px 1px rgba(0, 0, 0, .8);
  width                  : 138px;
  float                  : left;
  margin-right           : 10px;
  margin-left            : 10px;
  }
